body{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #18181B;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid rgba(255, 253, 253, 0.116);
    border-bottom: 2px solid rgba(0, 0, 0, 0.192);
    text-align: justify;
 }
 header button{
    background-color: rgb(255, 123, 0);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-family: "Plus Jakarta Sans", sans-serif;
 }
 .logo img {
    height: 70px;      
    width: auto;       
    display: block;
}

.logo {
    display: flex;
    align-items: center;
}
a {
  text-decoration: none;
  color: inherit; 
}
.capa img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: block;
    border-radius: 100px;

}
 .ofertas-carros{
    display: grid;
    gap: 0px;
    padding: 20px;
 }
  #ofertas{
    font-size: 50px;
    text-align: center;
 }
 .carros{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
 }
 .card{
    width: 100%;
    line-height: 1.5;
 }
 .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
 }
 .card button{
    width: 100%;
    border: none;
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
     font-weight: bold;

 }
 .login{
    display:flex;
    justify-content: center;
 }
   .login form{
      font-size: 10px;
      justify-content: center;
      align-items: center;

   }

